body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
}

/* header part  */

.nav-logo {
    height: 35px;
    width: 56px;
    border-radius: 4px;
    background-color: #5D5FEF;
    color: #5D5FEF;
}

.btn-news {
    color: #A3A3A3;

    font-weight: 600;
}



/* main section */
/* Category */
.category {
    color: #A3A3A3;
}